/* GLOBALS */

:root {
    --pGrey: rgb(114, 114, 114);
    --pFont: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--pFont);
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    user-select: black;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* GLOBALS */

/*----------------------------------------------------------------------------*/

/* NAV BAR AND MENU */

.menuBar {
    top: 6rem;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    position: absolute;
    margin-bottom: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    position: fixed;
    z-index: 3;
}

.noticeBar {
    top: 6rem;
    width: 100%;
    height: 3rem;
    background-color: black;
    position: absolute;
    margin-bottom: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
}

.noticeBar h2 {
    position: relative;
    text-transform: uppercase;
    color: white;
    padding: 0.2rem;
    pointer-events: fill;
    cursor: default;
    animation: textFlash 10s ease-in-out infinite;
    font-size: 80%;
    opacity: 0;
    margin: 0 2px;
}

#tx0 {
    animation-delay: 0;
}

#tx1 {
    animation-delay: 2s;
}

#tx2 {
    animation-delay: 3s;
    transition: all 300ms;
}

#tx3 {
    animation-delay: 2s;
}

#tx4 {
    animation-delay: 0s;
}

#tx2:hover {
    color: red;
}


@keyframes textFlash {
    0% {
        opacity: 0;
        ;
    }

    50% {
        opacity: 1;
        ;
    }

    100% {
        opacity: 0;
    }
}

.cont-nav {
    position: fixed;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    overflow: hidden;
    background: rgb(162, 162, 162);
    background: linear-gradient(274deg, rgba(162, 162, 162, 1) 30%, rgb(255, 255, 255) 100%);
}

.checkbtn {
    color: var(--pGrey);
    font-size: 3rem;
    float: right;
    line-height: 6rem;
    cursor: pointer;
    display: none;
}


.checkbtn2 {
    color: white;
    font-size: 4rem;
    float: right;
    line-height: 6rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 781px) {

    .checkbtn {
        z-index: 4;
        display: block;
        transition: all 500ms;
        position: fixed;
        top: 0px;
        right: 40px;
        -webkit-text-stroke: 1.5px var(--pGrey);
    }

    .checkbtn2 {
        z-index: 6;
        display: block;
        transition: all 500ms;
        position: fixed;
        top: 0px;
        right: 40px;
        opacity: 0;
    }

    .dec-bar {
        position: fixed;
        background-color: var(--pGrey);
        width: 35%;
        height: 1px;
        top: 60px;
    }

    .nav-cont {
        -webkit-box-shadow: 0px 0px 11px 4px #000000;
        box-shadow: 0px 0px 11px 4px #000000;
        z-index: 5;
        padding: 1rem;
        position: fixed;
        width: 40%;
        height: 100%;
        top: 0rem;
        right: -100%;
        -webkit-transition: 500ms;
        text-align: center;
        background-color: rgba(31, 31, 31, 0.99);
        flex-direction: column;
        align-items: center;
    }

    .ul-cont {
        width: 85%;
        height: 5rem;
    }

    .ul-cont li {
        margin-top: 1rem;
    }

}

@media (max-width:420px) {
    .nav-cont {
        width: 50%;
    }

}


#check:checked~.nav-cont {
    right: 0;
}


#check:checked~ul {
    right: 0;
}

#check:checked~.checkbtn {
    color: rgb(31, 31, 31);
    transform: rotate(360deg);
    opacity: 0;

}

#check:checked~.checkbtn2 {
    color: var(--pGrey);
    transform: rotate(360deg);
    opacity: 1;
}

#check:hover~.checkbtn {
    color: rgb(31, 31, 31);
    -webkit-text-stroke: 1.5px rgb(31, 31, 31);
}

#check:hover~.checkbtn2 {
    color: rgb(255, 255, 255);
}


.pMain {
    z-index: 3;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.tittle {
    cursor: default;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    font-size: 4rem;
    margin-left: 5rem;
    background-image: linear-gradient(-75deg,
            transparent 0,
            transparent 5%,
            rgba(255, 255, 255, 0.5) 5%,
            rgba(255, 255, 255, 0.5) 10%,
            transparent 10%,
            transparent 100%);
    background-size: 200% 100%;
    animation: reflection 10s ease-in-out infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes reflection {
    20%, 100% {
        background-position: -120% 0;
    }
}

.tittle span {
    font-weight: normal;
}

.nav-main {
    margin-right: 0.9rem;

}

.nav-cont {
    display: flex;
    justify-content: space-evenly;
}

.nav-cont a {
    color: rgb(59, 59, 59);
    margin: 0 5px;
    text-decoration: none;
    padding: 1rem 1rem;
    -webkit-transition: 300ms;
    border-radius: 9px;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
}

@media (max-width: 780px) {
    .nav-cont a {
        color: rgb(151, 151, 151)
    }
}


.ul-cont {
    -webkit-transition: 500ms;
    border-radius: 9px;
    margin-left: 0.5rem;
    padding: 0.7rem 0;
}

.ul-cont:hover {}

.nav-cont a:hover {
    color: white;
}

/* NAV BAR AND MENU */

/*----------------------------------------------------------------------------*/

/* MAIN CONTENT */

.mn {
    margin: 0rem 1rem 0 1rem;
}

/* CARD INTERACTION */

.product-cont>*:not(.scrollImage-cont) {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 100%;
    transition: all 500ms;
    padding-bottom: 1rem;
    background: rgb(162, 162, 162);
    transition: 500ms;
    background: linear-gradient(160deg, rgba(255, 255, 255) 30%, rgb(162, 162, 162, 1) 100%);
    overflow: hidden;
}

.product-cont>*:not(.scrollImage-cont)::before {
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: circle(35% at 80% 5%);
    transition: 0.5s ease-in-out;
}

.product-cont>*:hover::before {
    clip-path: circle(70% at 80% -25%);
}

/* BACKGROUND COLOR */

.sneaker-cont1::before {
    background: rgb(32, 32, 32);
}
.sneaker-cont2::before {
    background: #94232e;
}
.sneaker-cont3::before {
    background: #ad3131;
}
.sneaker-cont4::before {
    background: #0d7344;
}
.sneaker-cont5::before {
    background: #616161;
}
.sneaker-cont6::before {
    background: #c7b7a8;
}
.sneaker-cont7::before {
    background: #ce2727;
}
.sneaker-cont8::before {
    background: #c7b7a8;
}
.sneaker-cont9::before {
    background: #c7b7a8;
}
.sneaker-cont10::before {
    background: #c7b7a8;
}

/* BACKGROUND COLOR */


.product-cont>*:hover .sneaker {
    transform: scale(1.2) rotate(-10deg);
}
.product-cont>*:hover .sneakerDesc h2 {
    color: white;
    transform: translateY(-140px);
    opacity: 1;
}
.product-cont>*:hover .sneaker-decor {
    transform: translateY(0px);
}
.product-cont>*:not(.scrollImage-cont):hover {
    transform: scale(1.1);
}
.product-cont>*:hover .sneakerSize h3 {
    transition: all 0.5s;
    transition-delay: 0.4s;
    transform: translateY(15px);
    opacity: 1;
}
.product-cont>*:hover .sneakerSize .sizes {
    transition: all 0.5s;
    transition-delay: 0.6s;
    transform: translateY(15px);
    opacity: 1;
}

.sneaker {
    margin: 2rem 2rem;
    background: none;
    width: 80%;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.sneakerDesc {
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: black;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 14rem 0rem 0rem 0rem;
}

.sneakerDesc h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.5s;
    transform: translateY(80px);
    color: white;
    opacity: 0;
}

.sneaker-decor {
    position: absolute;
    width: 40rem;
    height: 19rem;
    top: 3rem;
    transition: 0.5s;
    transition-delay: 0.2s;
    transform: translateY(30rem);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.575) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.sneakerDesc .sneakerSize h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    transform: translateY(70px);
}

.sneakerDesc .sneakerSize .sizes {
    font-size: 1.3rem;
    transform: translateY(70px);
    color: white;
}

.product-cont {
    padding-bottom: 1.5rem;
    padding-top: 100px;
    height: 110rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.sneaker-cont8 .sneaker {
    height: 50%;
    width: 68%;
}

@media (max-width: 1024px) {
    .product-cont {
        height: 90rem;
    }
}


.scrollImage-cont {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    height: 100%;
    overflow: hidden;
    transform: translateX(0.6rem);
    margin: 0rem 2.1rem 0rem 0.85rem;
}

#snkc {
    box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0)
}

.sneakerCont {
    height: 100%;
    animation: scrollImage ease-in-out 35s infinite;
    transform: translateY(0);
    bottom: 0;
    overflow: hidden;
}

@keyframes scrollImage {
    15% {
        transform: translateY(0rem);
    }
    20% {
        transform: translateY(0rem);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-100%);
    }
    45% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-200%);
    }
    70% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-300%);
    }
    95% {
        transform: translateY(-300%);
    }
    99.999% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0rem);
    }
}

.scrollImage-cont img {
    max-width: 100%;
}


/* MAIN CONTENT */

/*----------------------------------------------------------------------------*/

/* FOOTER CONTENT */

.top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.top-btn a {
    border-radius: 9px;
    padding: 1rem 2rem;
    background-color: rgba(162, 162, 162, 1);
    text-decoration: none;
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transition: 300ms;
}

.top-btn a:hover {
    color: white;
    background-color: var(--pGrey);
}

/* FOOTER CONTENT */